@use "./base.scss";
@use "themes";

// put your custom CSS here!

:root {
  --radius-s: 5px;
  --radius-m: 10px;
  --radius-l: 15px;

  --list-threading-offset: -0.782em;
  --list-indent: calc(0.5625rem * 4);
  --font-size-list: 1em;
  --list-spacing-bt: 1;
  --radius-list: 7px;
  --bt-indentation-width-hover: 3px;
  --bt-connected-indent-line-color: #ffa8a8;

  --folder-color: rgb(223, 145, 29);
  --padding-inline: 40px;

  --internal-link-bg: rgb(255, 222, 228);
  --samp-color-bg: rgb(214, 214, 214);
}

body {
  div.page {
    max-width: 1600px !important;
    width: 100% !important;
  }

  ul,
  ol {
    /* Adjust this value to control the indentation */
    padding-inline-start: var(--padding-inline);
  }

  // Lightbox
  div.lightbox-wrapper[data-lightbox="true"] {
    &:hover {
      transform: none;
    }
    img.lightbox-image {
      box-shadow: inherit;
      &:hover {
        cursor: zoom-in;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }

  div.lightbox-modal.active {
    &:hover {
      cursor: zoom-out;
    }
    button.lightbox-close {
      &:hover {
        cursor: pointer;
      }
    }
    img {
      cursor: default;
    }
  }

  div.center {
    // Samp
    samp {
      background-color: var(--samp-color-bg);
      padding-left: 2px;
      padding-right: 2px;
      white-space: nowrap;
    }

    // Lists
    // Select parent
    li:has(li:hover) {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: var(--list-threading-offset);
        top: var(--font-size-list);
        height: var(--font-size-list);
        width: var(--bt-indentation-width-hover);
        background-color: var(--bt-connected-indent-line-color);
      }
    }

    /* all previous siblings of the hovered item */
    li li:has(~ li:hover) {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: calc(var(--list-threading-offset) - var(--padding-inline));
        top: 0;
        height: 100%;
        width: var(--bt-indentation-width-hover);
        background-color: var(--bt-connected-indent-line-color);
      }
    }

    /* hovered item */
    li li:hover {
      &::before {
        content: "";
        position: absolute;
        left: var(--list-threading-offset);
        width: var(--list-indent);
        height: calc(1.4 / 2 * var(--font-size-list) + var(--list-spacing-bt) * 0.075em * 1.5);
        border-bottom-left-radius: var(--radius-list);
        border-bottom: var(--bt-indentation-width-hover) solid var(--bt-connected-indent-line-color);
        border-left: var(--bt-indentation-width-hover) solid var(--bt-connected-indent-line-color);
      }
    }
  }

  // KBD
  kbd {
    background-color: var(--fkt-light-bg-color, #e3e6e8);
    color: var(--fkt-light-text-color, #333);
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    font-family: monospace;
    font-size: 0.9em;
    white-space: nowrap;
  }

  // Search
  .search > .search-container > .search-space > .search-layout {
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  a.result-card {
    border-radius: unset !important;
  }

  // Internal Links
  a.internal {
    text-decoration: none;
    background-color: var(--internal-link-bg);
    &:hover {
      text-decoration: underline;
    }
  }

  div.results-container p.match-tag {
    color: light-dark(rgba(219, 78, 78, 0.8), rgba(240, 128, 128, 0.87)) !important;
  }

  a.tag-link {
    transition: all 100ms ease-in-out;
    &:hover {
      background-color: rgb(212, 236, 255);
      border-color: rgb(164, 190, 230);
    }
  }

  div.toc a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  div.breadcrumb-element > a {
    transition: all 100ms ease-in-out;
    &:hover {
      color: var(--folder-color);
    }
  }

  .search > .search-container > .search-space > .search-layout > .results-container .result-card {
    display: block !important;
  }

  // Explorer Folders
  div.folder-container {
    color: var(--folder-color) !important;

    &:hover {
      &::before {
        filter: invert(100%) sepia(100%) saturate(200%) hue-rotate(180deg);
        color: pink;
      }
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline !important;
      }
    }

    a.folder-title {
      font-weight: 600 !important;
    }
  }

  .folder-outer.open {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline !important;
        &::before {
          filter: invert(100%) sepia(100%) saturate(200%) hue-rotate(180deg);
        }
      }
    }

    a.active {
      font-weight: 600 !important;
    }
  }

  // Auto Link Card
  a {
    cursor: pointer !important;
  }

  div.auto-card-link-container {
    transition: all 100ms ease-in-out;
    border-radius: var(--radius-m);
    background-color: rgb(245, 243, 238);
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;

    &:hover {
      background-color: rgba(218, 231, 245, 0.692);
      border: 1px solid gray;
      transform: translateY(-5px);
    }
  }

  // Category Cards
  div.category-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    display: grid;

    a {
      text-decoration: none !important;
      padding: 0 !important;
      background: none !important;
      &:hover {
        text-decoration: none !important;
      }

      div.card {
        background: var(--card-color-bg) url("/static/static-noise.png") 0 0 / cover !important;
        overflow: visible;
        aspect-ratio: 8.5/11;
        cursor: pointer;
        border: 2px solid #00000015;
        border-radius: var(--radius-m);
        min-width: 160px;
        padding: 12px;
        transition: transform 0.3s;
        position: relative;

        p.card-title {
          color: #fff;
          margin: 0 0 8px;
          line-height: normal;
          font-size: 24px;
        }

        img.card-illustration {
          transition: all 0.3s;
          transform: rotate(0) scale(1);
          position: absolute;

          &[data-index="0"] {
            left: -15px;
          }

          &[data-index="1"] {
            left: 15px;
          }

          &[data-index="2"] {
            left: 15px;
            top: 70px;
          }
        }

        &:hover {
          transform: scale(1.02);

          img.card-illustration {
            transform: rotate(-20deg) scale(1.05);
          }
        }
      }
    }
  }
}
